/* Preset reset */
body{
    background: linear-gradient(90deg, blue, lightgreen);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* Menu */
.menu{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 20vw;
}

.menuButton{
    background-color: rgba(185, 185, 185, 0.5);
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 80%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    transition: background-color 0.3s;
}

.menuButton:hover{
    background-color: #666666;
}

/* Add menu */
.addMenuBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

.addMenu{
    width: 65%;
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: solid black 3px;
    border-radius: 30px;
    padding: 30px;
    gap: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/* Add menu right column */
.addMenuRight{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 5px;
    max-height: 100%;
    overflow-y: auto;
}

.addMenuBigInput{
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    border: solid black 2px;
    background-color: rgba(185, 185, 185, 0.5);
}

.addMenuSmallInput{
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    border: solid black 2px;
    background-color: rgba(185, 185, 185, 0.5);
    margin-top: 10px;
}

/* Add menu left column */
.addMenuLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20%;
    position: fixed;
    margin-left: 45%;
    margin-top: 6%;
}

.addMenuButtonRed, .addMenuButtonGreen{
    background-color: rgba(185, 185, 185, 0.5);
    color: black;
    text-align: center;
    width: 14vw;
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.addMenuButtonRed:hover{
    background-color: #ff0000;
}

.addMenuButtonGreen:hover{
    background-color: #00ff00;
}

.addMenuButtonSmall{
    width: 70%;
    font-size: 1.5rem;
    border: solid black 2px;
    transition: background-color 0.3s;
    background-color: rgba(185, 185, 185, 0.5);
    border-radius: 10px;
}

.addMenuButtonSmall:hover{
    background-color: #838383;
    cursor: pointer;
}

.taskCounter{
    border: solid black 2px;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    background-color: rgba(185, 185, 185, 0.5);
}

.container{
    display: flex;
    gap: 20%;
}

/* USER MENU */

.userMenuLogin{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1.5%;
    align-items: center;
}

.userMenuRegister{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1.5%;
    align-items: center;
}

.userMenu{
    width: 65%;
    height: 65%;
    background-color: white;
    display: none;
    flex-direction: row;
    border: solid black 3px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    gap: 11%;
    padding-left: 2%;
}

.userMenuPlaceholder {
    width: 50%;
    height: 100%;
    border-radius: 0px 27px 27px 0px;
    background-color: rgb(25, 162, 207);
    z-index: 3;
    transition: ease-in-out 0.5s;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    text-align: center;
}

.loginButton{
    width: 40%;
    font-size: medium;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(25, 162, 250);
    transition: background-color 0.3s;
    cursor: pointer;
    position: absolute;
    margin-top: 50%;
}

.loginButton:hover{
    background-color: rgb(125, 182, 250);
}

.userMenuPlaceholderContainer{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userMenuPlaceholder.open {
    transform: translateX(0%);
    border-radius: 27px 0px 0px 27px;
}

/*I DONT FUCKING KNOW BRO*/
p {
    margin: 5;
}

#userMenu {
    display: none; /* Ensure this is the default state */
}

#loginRegister {
    display: flex; /* Default state for login menu */
}

#loggedMenu {
    display: none; /* Default state for logged-in menu */
}

#loggedMenu {
    justify-content: center;
    align-items: center;
}

#userMenuButton {
    height: 100%;
}

/*SHOWING TASKS*/
.main{
    width: 72%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    padding: 4%;
    gap: 4%
}

.task {
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: black;
    padding: 20px;
    margin-top: 4% ;
    display: flex;
    flex-direction: column;
}

.taskHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: white;
    border-radius: 10px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.taskText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.taskFooter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.completionButton {
    background-color: #ff0000;
    border: none;
    font-size: large;
    border-radius: 4px;
    transition: background-color 0.4s;
}

.completionButton:hover {
    background-color: #00ff00;
    cursor: pointer;
}

.deleteButton {
    font-size: large;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 8px;
    padding: 6px;
}

.deleteButton:hover {
    background-color: black;
    color: white;
}